<!-- -*- mode: XML -*- -->

<launch>
  <!-- Directory where to save data in -->
  <arg name="outputDir" default="~/catkin_ws/capture/"/>
  <!-- Maximum size of binary file saved -->
  <arg name="maxSize" default="102400" />
  <!-- Gps serial port -->
  <arg name="gpsPort" default="/dev/ttyUSB0" />
  <!-- IMU serial port -->
  <arg name="imuPort" default="/dev/ttyACM0" />
  <!-- WiFi interface name -->
  <arg name="wifiPort" default="wlan0" />
  
  <!-- Start gps save nodelet -->
  <include file="$(find gps_save)/launch/save.launch">
    <arg name="outputDir" value="$(arg outputDir)"/>
    <arg name="maxSize" value="$(arg maxSize)"/>
     <arg name="port" value="$(arg gpsPort)"/>
  </include>
  
  <!-- start IMU save nodelet -->
  <include file="$(find imu_save)/launch/save.launch">
    <arg name="outputDir" value="$(arg outputDir)"/>
    <arg name="maxSize" value="$(arg maxSize)"/>
     <arg name="port" value="$(arg imuPort)"/>
  </include>
  
  <!-- start velodyne savedata nodelet -->
  <include file="$(find velodyne_savedata)/launch/save.launch">
    <arg name="outputDir" value="$(arg outputDir)"/>
    <arg name="maxSize" value="$(arg maxSize)"/>
  </include>
  
  <!-- start WiFi save nodelet -->
  <include file="$(find wifi_save)/launch/save.launch">
    <arg name="outputDir" value="$(arg outputDir)"/>
    <arg name="maxSize" value="$(arg maxSize)"/>
    <arg name="port" value="$(arg wifiPort)"/>
  </include>
  
  
  <!-- for debug purpose -->
  <!-- start gps fix nodelet -->
  <node pkg="nodelet" type="nodelet" name="gps_fix_nodelet"
        args="load gps_fix/GpsFixNodelet gps_nodelet_manager">
  </node>
  <!-- Start imu filter Madgwick nodelet -->
  <node pkg="nodelet" type="nodelet" name="imu_filter_nodelet"
        args="load imu_filter_madgwick/ImuFilterNodelet imu_nodelet_manager">
    <param name="use_mag" value="true"/>
    <param name="use_magnetic_field_msg" value="true"/>
  </node>  
  <!-- Store all ROS messages with Rosbag -->
  <node pkg="rosbag" type="record" name="record" output="screen" args="-o /$(arg outputDir)/Rosbag -a"/>
  
  
</launch>
