<!-- -*- mode: XML -*- -->

<launch>
 <!-- declare arguments with default values -->
  <arg name="pcap" default="" />
  <arg name="gpsPort" default="/dev/ttyUSB0" />
  <arg name="imuPort" default="/dev/ttyACM0" />
  
  <!-- Start gps fix nodelet -->
  <include file="$(find gps_fix)/launch/fix.launch">
     <arg name="port" value="$(arg gpsPort)"/>
  </include>
  
  <!-- start imu driver nodelet -->
  <include file="$(find imu_driver)/launch/nodelet_manager.launch">
     <arg name="port" value="$(arg imuPort)"/>
  </include>

  <!-- start nodelet manager and driver nodelets and pointcloud  nodelet-->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
 
  <!-- Start IMU madgwick filter nodelet -->
  <node pkg="nodelet" type="nodelet" name="imu_filter_nodelet"
        args="load imu_filter_madgwick/ImuFilterNodelet imu_nodelet_manager">
    <param name="use_mag" value="true"/>
    <param name="use_magnetic_field_msg" value="true"/>
  </node>  
  
  <!-- Launch multiple rviz view with configuration -->
  <node name="ImuVisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find twizy)/config/imu.rviz" />
  <node name="LidarVisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find twizy)/config/velodyne.rviz" />
  <node name="gpsVisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find twizy)/config/gps.rviz" />
  
</launch>
