<!-- -*- mode: XML -*- -->
<launch>

  <!-- start nodelet manager and load driver nodelet -->
  <node pkg="nodelet" type="nodelet" name="gps_nodelet_manager"
        args="manager" />
  <!-- Serial speed -->
  <arg name="baud" default="38400" />
  <!-- Serial port -->
  <arg name="port" default="/dev/ttyUSB0" />
  <!-- Frame name for tf -->
  <arg name="frame_id" default="gps" />
  <node pkg="nodelet" type="nodelet" name="gps_driver_nodelet"
        args="load gps_driver/GpsDriverNodelet gps_nodelet_manager" >
    <param name="baud" value="$(arg baud)"/>
    <param name="port" value="$(arg port)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
  </node>    

</launch>
